{% extends "base.html" %}

{% block content %}
    <h1 class="list-title">Explore</h1>
    <div class="followers-list">
        {% for user in not_following %}
        <div class="follower-entry">
            <img class="profile-picture" src="{{ user.user_img_url }}" alt="{{ user.username }}'s profile picture">
            <a href="/users/{{ user.username }}/">{{ user.username }}</a>
            <div class="relationship">
                <!-- Follow button -->
                <form action="/following/?target=/explore" method="post" enctype="multipart/form-data">
                    <input type="hidden" name="username" value="{{ user.username }}"/>
                    <input type="hidden" name="operation" value="follow"/>
                    <input type="submit" name="follow" value="follow"/>
                </form>
            </div>
        </div>
        {% endfor %}
    </div>
{% endblock %}
