<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Quack</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    </head>
    <body>
        <header class="header">
            <a href="/">
                <img src="{{ url_for('static', filename='images/instalogo.png') }}" alt="Instagram Logo">
            </a>
            <div class="navbar">
                <a href="/explore/">explore</a>
                <a href="/users/{{ logname }}/">{{ logname }}</a>
            </div>
        </header>
        <div class="content">
            {% block content %}
            {% endblock %}
        </div>
    </body>
</html>
