{% extends "base.html" %}

{% block content %}
    <div class="password-change-container">
        <!-- Password change form -->
        <form action="/accounts/?target=/accounts/edit/" method="post" enctype="multipart/form-data" class="password-change-form">
            <label for="password">Old password</label>
            <input type="password" id="password" name="password" required/>

            <label for="new_password1">New password</label>
            <input type="password" id="new_password1" name="new_password1" required/>

            <label for="new_password2">New password, again</label>
            <input type="password" id="new_password2" name="new_password2" required/>

            <input type="submit" name="update_password" value="submit" class="button submit-btn"/>
            <input type="hidden" name="operation" value="update_password"/>
        </form>

        <!-- Link to go back to account edit -->
        <div class="back-link">
            <a href="/accounts/edit/">Back to edit account</a>
        </div>
    </div>
{% endblock %}

