{% extends "base.html" %}

{% block content %}
<div class="timeline">
    {% for post in posts %}
    <div class="post">
        <div class="post-header">
            <div class="poster-info">
                <a href="/users/{{ post.owner }}/">
                    <img class="profile-picture" src="{{ post.owner_img_url }}" alt="profile picture">
                </a>
                <a href="/users/{{ post.owner }}/" class="username">{{ post.owner }}</a>
            </div>
            <a href="/posts/{{ post.postid }}/" class="timestamp">{{ post.timestamp }}</a>
        </div>
        <div class="post-image">
            <img src="{{ post.img_url }}" alt="post image">
        </div>
        <div class="post-interactions">
            {{ post.likes }} like{% if post.likes != 1 %}s{% endif %}
        </div>
        <div class="comment-section">
            {% for comment in post.comments %}
            <p><a href="/users/{{ comment.owner }}/" class="username">{{ comment.owner }}</a> {{ comment.text }}</p>
            {% endfor %}
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
