{% extends "base.html" %}

{% block content %}
    <h1 class="user-title">{{ username }}</h1>

    <h3 class="user-info">
        {{ total_posts }} post{% if total_posts != 1 %}s{% endif %}
        <a href="/users/{{ username }}/followers/">{{ followers }} follower{% if followers != 1 %}s{% endif %}</a>
        <a href="/users/{{ username }}/following/">{{ following }} following</a>
        {{ fullname }}
    </h3>

    <!-- Follow/Unfollow or blank if viewing own profile -->
    <div class="user-actions">
        {% if logname == username %}
            <!-- Edit Profile Button -->
            <a href="/accounts/edit/" class="button edit-btn">Edit profile</a>

            <!-- Logout Button -->
            <form action="/accounts/logout/" method="post" enctype="multipart/form-data" class="form-inline">
                <input type="submit" name="logout" value="Logout" class="button logout-btn"/>
            </form>

            <!-- File Upload Button -->
            <form action="/posts/?target=/users/{{ logname }}" method="post" enctype="multipart/form-data" class="form-inline">
                <input type="file" name="file" accept="image/*" required class="file-input"/>
                <input type="submit" name="create_post" value="upload new post" class="button upload-btn"/>
                <input type="hidden" name="operation" value="create"/>
            </form>
        {% elif logname_follows_username %}
            <!-- Unfollow Button -->
             <p>Following</p>
            <form action="/following/?target=/users/{{ username }}/" method="post" enctype="multipart/form-data" class="form-inline">
                <input type="hidden" name="username" value="{{ username }}"/>
                <input type="hidden" name="operation" value="unfollow"/>
                <input type="submit" name="unfollow" value="unfollow" class="button unfollow-btn"/>
            </form>
        {% else %}
            <!-- Follow Button -->
             <p>Not Following</p>
            <form action="/following/?target=/users/{{ username }}/" method="post" enctype="multipart/form-data" class="form-inline">
                <input type="hidden" name="username" value="{{ username }}"/>
                <input type="hidden" name="operation" value="follow"/>
                <input type="submit" name="follow" value="follow" class="button follow-btn"/>
            </form>
        {% endif %}
    </div>

    <!-- Display user's posts -->
    <section class="user-posts">
        {% if posts %}
            {% for post in posts %}
            <a href="/posts/{{ post.postid }}/">
                <img class="user-post" src="{{ post.img_url }}" alt="Post {{ post.postid }}">
            </a>
            {% endfor %}
        {% else %}
            <p>No posts yet.</p>
        {% endif %}
    </section>
{% endblock %}
